<!-- <router-outlet></router-outlet> -->
<div class="container">
  <div class="row">
    <!-- <div class="col-12 m-b-2">
      
      <h3 class="text-center text-secondary">People</h3>

      <app-table [data]="people" [colsTemplate]="[name]" [headings]="headings">
          <ng-template #name ogTemplate="body" let-employee="item">
              <tr>
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.age}} <i class="fo fo-calendar"></i> </td>
              </tr>
          </ng-template>
      </app-table>

    </div> -->
    

    <div class="col-12">

      <app-basico [value]="people">

        <ng-template ogTemplate="head">
          <tr>
              <th *ngFor="let heading of headings">
                  {{heading}}
              </th>
          </tr> 
      </ng-template>

       <ng-template ogTemplate="body" let-person="item">
          <tr>
            <td>{{person.id}}</td>
            <td>{{person.name}}</td>
            <td>{{person.email}}</td>
            <td>{{person.age}} <i class="fo fo-calendar"></i> </td>
          </tr>
       </ng-template>

      </app-basico>

    </div>


  </div>
</div>
