<h5>
    
</h5>
<table class="table">

    <!-- <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container> -->

    <thead>
        <tr>
            <th *ngFor="let heading of head">
                {{heading}}
            </th>
        </tr> 
    </thead>
    
    <tbody>
        <ng-container *ngFor="let row of value; index as i">
            <ng-container  *ngTemplateOutlet="bodyTemplate; context:{ item:row }"></ng-container >

            <!-- <ng-container *ngFor="let column of templateList">
                <ng-container  *ngTemplateOutlet="column.template; context:{ item:row }"></ng-container >
            </ng-container> -->
            
           
           
        </ng-container>
        
    </tbody>
    

</table>
